
#Binaries
*.class
*.ear
*.jar
*.war

#Eclipse
bin/
.classpath
.loadpath
.project
.settings/

#IntelliJ
.idea/
*.eml
*.iml
*.userlibraries

#Logs
hs_err_pid* #JVM crashes

#Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#FRC Projects
build/
j2meclasses/
suite/
doc/

# WPILib

build/
dist/
sysProps.xml
workbench.xmi

# IDE
*.ipr

*.iws
out/
tmp/
.settings/

/.idea

# Toast/GradleRIO
run/
.gradle/

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.AppleDouble
.LSOverride
.Trashes
ehthumbs.db
Thumbs.db

gradlew
gradlew.bat
*.gradle
release/
gradle/
build/
metadata/
.gradle/
src/resources
src/groovy